.mainBody{
    background-image: url("../../../media/sad-mode-background-tablet-1024x1366.jpg") ; 
    background-repeat: no-repeat;
    background-position: left 0px;
    background-size: cover;
    height: 90vh;
    width: calc(100vw - 5vh);
}


