.mainBodyLandscape {
    background-color: var(--main-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.titleContainerLandscape{
    /* background-color: thistle; */
    position: absolute;
    top: -5vh;
    left: 0vw;
    font-size: 2vh;
  }

.menuContainerLandscape{
    background-color: aqua;
    width: 40vw;
    height: fit-content;
}

.albumCover{
    width: 40vw;
    height: 40vw;
}

@media only screen and (max-height: 500px ){
    .mainBodyLandscape{
        height: 100%;
    }
    .titleContainerLandscape{
        font-size: .65rem;
        top: -25px;
    }

    .albumCover{
        max-height: 300px;
        width: unset;
    }
}

/* Galaxy fold landscape */

@media only screen and (max-height: 300px), screen and (max-width: 650px ){
    .albumCover{
        max-height: 200px;
        width: unset;
    }
}



