.mainBodyLandscape {
    background-color: var(--main-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.titleContainerLandscape{
    /* background-color: thistle; */
    position: absolute;
    top: -5vh;
    left: 0vw;
    font-size: 4vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.backButtonLandscape{
    cursor: pointer;
}

.backButtonLandscape:hover{
  color: var(--accent-color);
}

.landscapeContentContainer{
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 90%;
    height: 100%;
    justify-content: space-around;
    align-items:center ; 
}

.imgContainerLandscape{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    -webkit-transition: transform 0.6s;
    transform-style: preserve-3d;
    transition: all 0.5s;
    -webkit-transition: 0.5s;
   
}

.frontLandscape{
    position: absolute;
    width: fit-content;
    height: fit-content;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: darkorange; */
}

.albumCoverLandscape{
    width: 60vh;
    max-width: 40vw;
 }

.backLandscape {
    position: absolute;
    width: 60vh;
    height: 60vh;
    max-width: 40vw;
    max-height: 40vw;
    backface-visibility: hidden;
    background-color: var(--light-color);
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.backLandscape > .contentDiv{
    /* background-color: springgreen; */
    width: 60vh;
    height: 60vh;
    max-width: 40vw;
    max-height: 40vw;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
}

.backLandscape > .contentDiv > .aboutDiv {
    /* background-color: thistle; */
    max-width: 100%;
    max-height: 100%;
}

.backLandscape > .contentDiv > iframe{
    margin: auto;
    width: 90%;
    height: 50%;
}
  .backLandscape > .contentDiv > .contentIcons4{
    /* background-color: darkorchid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .backLandscape > .contentDiv > .contentIcons4 > a{
    width: 50%;
  }
  .backLandscape > .contentDiv > .contentIcons4 > a >img{
    width: 80%;
  }

  .backLandscape > .contentDiv > .contentIcons4 > a >img:hover{
    width: 90%;
  }

  .backLandscape > .contentDiv > .socialDiv{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    /* background-color: yellow; */
  }

  .backLandscape > .contentDiv > .socialDiv > a{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .backLandscape > .contentDiv > .socialDiv > a >svg{
    height: 100%;
    max-height: 100px;
  }

.flipCardLandscape{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}










