.mainBodyPortrait{
    background-image: url("../../../media/sad-mode-background-tablet-1024x1366.jpg") ; 
    background-repeat: no-repeat;
    background-position: left 0px;
    background-size: cover;
    height: 90vh;
    width: calc(100vw - 5vh);
    position: relative;
}


@media only screen and (max-width: 500px){
    .mainBodyPortrait{
        background-image: url("../../../media/sad-mode-art-mobile-488x947.jpg");
    }
}
