.App {
  background-color: green;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

@media screen and (orientation: landscape){
  .bodyDesktop{
    display: hidden;
  }
}


