.appLandscape {
  /* background-color: green; */
  height: 85vh;
  padding: 10vh 5vh 5vh 5vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  position: relative;
  min-height: 400px;
}

.appPortrait{
  /* background-color: coral; */
  height: 90vh;
  padding: 5vh 5vw 5vh 5vw;
}

@media only screen and (max-height: 500px ){
  .appLandscape{
      padding: 50px 25px 25px 25px;
      /* background-color: blueviolet; */
  }
}