:root {
  --main-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  --dark-color: #343434;
  --main-color:  #EBEBEB;
  --light-color: #FFFFFF;
  --accent-color: #5c5c5c;
}

body {
  margin: 0;
  font-family: var(--main-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  margin: 0px;
  font-size: unset;
}

p{
  margin-top: 0;
}

a{
  color: var(--dark-color);
}

a:hover{
  color: var(--accent-color);
}


@media only screen and (max-height: 800px){
  /* button{
    font-size: 1.5em ;
  } */
}



